{% extends 'base.html' %}

{% block title %}Goal List{% endblock %}

{% block content %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphical View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #chartContainer {
            text-align: center;
            margin-top: 50px;
        }
        #evaluationChart {
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
    <h1>Graphical View</h1>
    <div id="chartContainer">
        <canvas id="evaluationChart"></canvas>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let ctx = document.getElementById('evaluationChart').getContext('2d');
            let evaluationData = {
                labels: {{ goal_ids | tojson }},
                datasets: [{
                    label: 'Status',
                    data: {{ statuses | tojson }},
                    backgroundColor: 'rgba(255, 0, 0, 0.2)', // Red
                    borderColor: 'rgba(255, 0, 0, 1)', // Red
                    borderWidth: 1
                },{
                    label: 'Previous Status',
                    data: {{ previous_statuses | tojson }},
                    backgroundColor: 'rgba(0, 0, 255, 0.2)', // Blue
                    borderColor: 'rgba(0, 0, 255, 1)', // Blue
                    borderWidth: 1
                }]
            };

            let myChart = new Chart(ctx, {
                type: 'bar',
                data: evaluationData,
                options: {
                    scales: {
                        x: {
                            type: 'linear',
                            ticks: {
                                beginAtZero: true,
                                min: 0,
                                max: 10
                            }
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>


{% endblock %}